<form #form="ngForm" autocomplete="off" (submit)="updateRecord(form)" >
    <input type="hidden" name="PMId" [value]="service.formData.PMId">
    <div name="Vacation" id="Vacation">
        <div>
            <strong class="form-control">Name: {{service.formData.UserName}}</strong>
    
            <strong class="form-control">Position: {{service.formData.Position}}</strong>
    
            
            Choose first date
            <div class="form-group">
            <input   class="datepicker" type="date" class="form-control" name="first" #first="ngModel" [(ngModel)]="service.formData.StartVacationDate" >
            </div>
                Choose second date
            <div class="form-group">
                <input class="datepicker" type="date" class="form-control" name="second" #second="ngModel" [(ngModel)]="service.formData.EndVacationDate" >
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" type="submit"> <i class="fas fa-database" ></i> Submit</button>
            </div>

        </div>
        
    </div>

    
</form>