<div >
<table class="table table-hover table-sortable" id="myTable">
    <thead >
        <tr>
        <th >Name</th>
        <th >Position</th>
        <th >Start Vacation</th>
        <th >End Vacation</th>
        <th></th>
        </tr>
    </thead>

    <tbody>
    <tr  *ngFor="let item of service.list">
        
        <td (click)="populateForm(item)">{{item.UserName}}</td>
        <td (click)="populateForm(item)">{{item.Position}}</td>
        <td (click)="populateForm(item)">{{item.StartVacationDate | slice : 0:10 }}</td>
        
        <td (click)="populateForm(item)">{{item.EndVacationDate | slice : 0:10}}</td>
        <td id="GetVac">
            <i class="fas fa-plane" (click)="populateForm(item)" onclick="Vacation()" ></i>
        </td>
        <td>
            
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(item.PMId)"></i>
        </td>
    </tr> 
    
    </tbody>
</table>
</div>


