<form id="UsersReg" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" >
    <input type="hidden" name="PMId" [value]="service.formData.PMId">
    
    <div class="form-gtoup">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input name="UserName" #UserName="ngModel" [(ngModel)]="service.formData.UserName" class="form-control" placeholder="User Name" >
        </div>
    </div>
    <br>
    <div class="form-gtoup">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <select name="selector" #selector="ngModel" [(ngModel)]="service.formData.Position" class="form-control">
                <option *ngFor="let o of options">{{o.name}}</option>
               
            </select>
            
        </div>
    </div>
    <br>

    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"> <i class="fas fa-database"></i> Submit</button>
    </div>
    <br>
    
    
    
</form>