<div class="jumbtron">
<h1 class="display-4 text-center">User Detail Register</h1>
<hr>
<div class="row">
    <div class="col-md-5">
       <app-user-detail></app-user-detail> 
       <div class="col-md-10">
        <app-user-vacation></app-user-vacation>
        </div>
    </div>
    
    <div class="col-md-7">
        <app-user-detail-list></app-user-detail-list>
    </div>
    
    
</div>

 
</div>